body {
    user-select: none;

}

#about-header-img {
    .about-bg-img {
        height: 320px;
        background-size: cover;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Crimson Text";
        font-weight: bold;
    }
}

.about-big-img {
    overflow: hidden;

    img {
        transition: 1s;

        &:hover {
            transform: scale(1.1);
            transition: 1s;
        }
    }
}


#blog-post-img {
    .mySwiper {

        height: 450px;


    }
    .blog-post-text {

        .post-info-top {
            justify-content: space-between !important;
            display: flex !important;
            width: 340px !important;

            .post-info-author {
                span {
                    color: #b97a56;
                    font-size: 12px;
                    letter-spacing: .1em;
                    font-weight: 600;
                    text-transform: uppercase;
                    transition: 0.3s;
                    &:hover{
                        color: black;
                    }
                }

                span::after {
                    content: ' /';
                }
            }

            .post-date {
                span {
                    font-size: 12px;
                    letter-spacing: .1em;
                    font-weight: 600;
                    text-transform: uppercase;
                    transition: 0.3s;
                    &:hover{
                        color: #b97a56;
                    }
                }

                span::after {
                    content: ' /';
                }
            }

            .post-info-category {
                span {
                    font-size: 12px;
                    letter-spacing: .1em;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: #b97a56;
                    transition: 0.3s;
                    &:hover{
                        color: black;
                    }
                }
            }
        }

        .post-title {

            h3 {
                font-family: "Crimson Text";
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: .05em;
                font-size: 34px;
                
                margin-top: 10px;

                a{
                text-decoration: none;
                color: #333;
                transition: 0.3s;
                &:hover{
                    color: #b97a56;
                }
                }
            }
        }

        .post-description {
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            line-height: 27px;
            font-weight: 300;
            color: #676767b0;
            -webkit-font-smoothing: antialiased;

        }
        .post-readmore-btn{
            a{
                text-decoration: none;
                color: black;
                font-size: 12px;
                letter-spacing: .1em;
                font-weight: 600;
                text-transform: uppercase;
                transition: 0.3s;
                &:hover{
                    color: #b97a56;
                }
            }
        }
    }
}




.category {
    padding: 20px;
    font-family: "Crimson Text";
    font-weight: 700;
    letter-spacing: .1em;

    .category-header {
        h6 {
            font-weight: bold;
        }
    }

    .categories {
        margin-top: 20px;

        ul {
            list-style: none;
            padding-left: 0rem;
            line-height: 30px;

            li {
                a {
                    color: #7b7777ed;
                    text-decoration: none;
                }
            }
        }
    }


}

.tag {
    padding: 15px;
    font-family: "Crimson Text";
    font-weight: 700;
    letter-spacing: .1em;

    .tag-header {
        h6 {
            font-weight: bold;
        }
    }

    .tags {
        margin-top: 20px;

        ul {
            list-style: none;
            padding-left: 0rem;
            line-height: 30px;

            li {
                a {
                    color: #7b7777ed;
                    text-decoration: none;
                }
            }
        }
    }
}

.top-products {
    padding: 15px;
    font-family: "Crimson Text";
    padding: 12px;
    letter-spacing: .1em;

    .top-header {
        h6 {
            font-weight: bold;
        }
    }

    .top-product-detail {
        margin-top: 20px;

        ul {
            list-style: none;
            padding-left: 0rem;


            li {
                margin-top: 20px;

                a {
                    color: #7b7777ed;
                    text-decoration: none;
                    display: flex;
                    width: 76%;
                    justify-content: space-between;
                }
            }
        }

        .product-detail {
            line-height: 25px;

            .product-name {
                margin-top: 20px;
            }

            .product-rate {
                i {
                    font-size: 14px;
                }
            }
        }



    }


}

.search-inShop {
    border: 1px solid #80808066;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin: 37px 0 0 12px;
    input{
        border: none;
        outline: none;
    }
    i{
        color: #808080ad;
        font-size: 21px;
        margin-left: 35px;
    }
}
.shop-banner{
    img{
        margin: 60px 0 0 13px;
        max-width: 96%;
    }
}

.load-more{
    display: flex;
    justify-content: center;
    button{
        background-color: rgb(205 112 60 / 81%);
        color: white;
        border: none;
        width: 101px;
        height: 40px;
        border-radius: 7px;
    }
}

