body {
    user-select: none;

}

#about-header-img {
    .about-bg-img {
        height: 320px;
        background-size: cover;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Crimson Text";
        font-weight: bold;
    }
}

.about-big-img {
    overflow: hidden;

    img {
        transition: 1s;

        &:hover {
            transform: scale(1.1);
            transition: 1s;
        }
    }
}


#blog-post-img {
    .mySwiper {

        height: 450px;


    }
    .blog-post-text {

        .post-info-top {
            justify-content: space-between;
            display: flex ;
            width: 340px ;

            .post-info-author {
                span {
                    color: #b97a56;
                    font-size: 12px;
                    letter-spacing: .1em;
                    font-weight: 600;
                    text-transform: uppercase;
                    transition: 0.3s;
                    &:hover{
                        color: black;
                    }
                }

                span::after {
                    content: ' /';
                }
            }

            .post-date {
                span {
                    font-size: 12px;
                    letter-spacing: .1em;
                    font-weight: 600;
                    text-transform: uppercase;
                    transition: 0.3s;
                    &:hover{
                        color: #b97a56;
                    }
                }

                span::after {
                    content: ' /';
                }
            }

            .post-info-category {
                span {
                    font-size: 12px;
                    letter-spacing: .1em;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: #b97a56;
                    transition: 0.3s;
                    &:hover{
                        color: black;
                    }
                }
            }
        }

        .post-title {

            h3 {
                font-family: "Crimson Text";
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: .05em;
                font-size: 34px;
                
                margin-top: 10px;

                a{
                text-decoration: none;
                color: #333;
                transition: 0.3s;
                &:hover{
                    color: #b97a56;
                }
                }
            }
        }

        .post-description {
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            line-height: 27px;
            font-weight: 300;
            color: #676767b0;
            -webkit-font-smoothing: antialiased;

        }
        .post-readmore-btn{
            a{
                text-decoration: none;
                color: black;
                font-size: 12px;
                letter-spacing: .1em;
                font-weight: 600;
                text-transform: uppercase;
                transition: 0.3s;
                &:hover{
                    color: #b97a56;
                }
            }
        }
    }

    .right {
        padding-left: 0px;
        margin-top: 50px;
        .blog-author {
            border: 1px solid #b97a56;
    
            .author-img {
                padding: 30px 50px 30px 50px;
    
                img {
                    border-radius: 50%;
                }
    
                .author-detail {
                    .author-name {
                        text-align: center;
                        margin-top: 30px;
                        font-family: "Alex Brush", cursive;
    
                        h5 {
                            font-size: 34px;
                        }
                    }
    
                    .author-email {
                        text-align: center;
                        font-size: 17px;
                        color: #b97a56;
                        font-weight: 400;
                        cursor: pointer;
                    }
    
                    .author-social {
                        display: flex;
                        justify-content: space-evenly;
                        margin-top: 20px;
    
                        a {
                            i {
                                &:hover {
                                    transition: 0.6s;
                                    color: #b97a56 !important;
                                }
                            }
                        }
                    }
                }
    
            }
        }
    
        .lates-posts {
            margin-top: 50px;
    
            h4 {
                font-family: "Crimson Text";
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 0.05em;
                font-size: 17px;
                color: #514c4c;
            }
    
            .lates-post {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 10px 0;
                gap: 16px;
    
                .post-img {
                    width: 130px;
    
                    img {
                        width: -webkit-fill-available;
                    }
                }
    
                .post-info {
                    font-size: 13px;
                    padding: 5px 0;
    
                    .lates-title {
                        color: #333;
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 1.42em;
                        transition: 0.6s;
    
                        &:hover {
                            transition: 0.6s;
                            color: #cf8357 !important;
                        }
                    }
    
                    .lates-date {
                        display: block;
                        margin: 10px 0 0;
                        color: #676767;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 20px;
                        letter-spacing: .1em;
                    }
                }
            }
        }
    
        .category {
            padding: 0px;
            font-family: "Crimson Text";
            font-weight: 700;
            letter-spacing: 0.1em;
            margin-top: 50px;
    
            .category-header {
                h6 {
                    font-weight: bold;
                }
            }
    
            .categories {
                margin-top: 20px;
    
                ul {
                    list-style: none;
                    padding-left: 0rem;
                    line-height: 30px;
    
                    li {
                        a {
                            color: #7b7777ed;
                            text-decoration: none;
                            transition: 0.6s;
    
                            &:hover {
                                transition: 0.6s;
                                color: #cf8357 !important;
                            }
                        }
                    }
                }
            }
    
    
        }
    
        .tag {
            padding: 0px;
            font-family: "Crimson Text";
            font-weight: 700;
            letter-spacing: 0.1em;
            margin-top: 50px;
    
            .tag-header {
                h6 {
                    font-weight: bold;
                }
            }
    
            .tags {
                margin-top: 20px;
    
                ul {
                    list-style: none;
                    padding-left: 0rem;
                    line-height: 30px;
                    display: flex;
                    flex-wrap: wrap;
    
                    li {
                        a {
                            color: #7b7777ed;
                            text-decoration: none;
                            transition: 0.6s;
    
                            &:hover {
                                transition: 0.6s;
                                color: #cf8357 !important;
                            }
                        }
                    }
                }
            }
        }
    
    
    
        .instagram {
            padding: 0px;
            font-family: "Crimson Text";
            font-weight: 700;
            letter-spacing: 0.1em;
            margin-top: 50px;
    
            .instagram-header {
                h6 {
                    font-weight: bold;
                }
            }
    
            .instagram-photo {
                margin-top: 30px;
    
                .instagram-img {
                    height: 105px;
                    width: 100px;
    
                    img {
                        width: 100%;
    
                    }
                }
    
            }
    
    
        }
    
        
    }

}





.load-more{
    display: flex;
    justify-content: center;
    button{
        background-color: rgb(205 112 60 / 81%);
        color: white;
        border: none;
        width: 101px;
        height: 40px;
        border-radius: 7px;
    }
}

