@media (min-width:0) and (max-width:850px) {
    .logo img {
        width: 30% !important;
    }

    #slider {
        margin-top: 50px;

        .swiper-wrapper {
            h1 {
                top: 35%;
                font-size: 14px;
            }

            .slider-text {
                width: 34% !important;
                font-size: 6px !important;
                line-height: 7px !important;
                top: 54% !important;

            }

        }

    }

    #arrivals {
        .arrivals-content {
            top: 0px !important;

            h4 {
                font-size: 35px !important;
            }

            h2 {
                font-size: 28px !important;
            }

            .arrival-img img {
                width: 32% !important;
            }
        }
    }

    #products-slider {
        top: 0px !important;

        .slick-dots {
            display: none !important;
        }
    }

    #banner {
        top: 0px !important;

        .first-bnr-img-text1 {
            position: relative !important;
            top: 90px !important;
            font-size: 40p !important;
            left: 37px !important;
        }

        .first-bnr-img-text2 {
            top: 20% !important;
            margin-left: 11% !important;
        }

        .second-bnr-img-text1 {
            top: 40% !important;
            right: 30% !important;
        }

        .bnr-img-logo {
            position: absolute !important;
            bottom: 55% !important;
            right: 38% !important;
            width: 25% !important;
        }

        span {
            bottom: 51% !important;
            right: 42% !important;
        }

        .last-bnr-img-text1 {
            top: 82% !important;
            left: 20% !important;
        }

        .last-bnr-img-text2 {
            top: 85%;
            left: 20%;
        }
    }

    #blog {
        top: 0px !important;

        .blog-header-content {
            h4 {
                font-size: 40px !important;

            }

            h2 {
                font-size: 30px !important;
            }

            .blog-header-logo img {
                width: 40% !important;
            }
        }
    }

    #blogs {
        top: 0px !important;
        padding: 0 0 0 0 !important;
    }

    #gift {
        margin-top: 0 !important;

        .gift-img {
            padding: 7% 0 7% 0 !important;

            h2 {
                font-size: 10px !important;
            }

            img {
                top: 65% !important;
                width: 20% !important;
            }
        }
    }

    #our-team {
        top: 0px !important;

        .team-img {
            padding: 9% 0 30% 0 !important;

            .team-content {
                h4 {
                    font-size: 35px !important;
                }

                h2 {
                    font-size: 30px !important;
                }

                img {
                    width: 50% !important;
                }
            }
        }

        .members {
            top: 170px !important;
            left: 12% !important;
            right: 12% !important;


        }
    }

    // #team-member{
    //     top: 120px !important;
    //     .members{
    //         top: -187px !important;
    //         left: 12% !important;
    //         right: 12% !important;
    //         .single-member{
    //             padding-top: 10px;
    //         }
    //     }
    // }

}



@media (min-width:850) and (max-width:1200px) {}